/** layout

$huge:'(min-width:1600px)';
$xl:'(min-width:1200px)';
$l: '(min-width:980px) and (max-width:1199px)';
$m: '(min-width:768px) and (max-width:979px)';
$s: '(max-width:767px)';
$not-small:'(min-width:768px)';
$not-large:'(max-width:979px)';
$not-xlarge:'(max-width:1199px)';
$huge-width:1600px;
$xl-width:1200px;
$l-width: 980px;
$m-width: 768px;
$s-width: 480px;

//usage
	@media #{$not-small} {}

**/

.mobileMenu.expanded{height:200%;}

.not-front:not(.node-type-landing-page) .region-content .block:not(#block-system-main):not(.style-exempt):not(#block-berklee-site-section-announcements){background: none;}

a.button{display: inline-block;}

.view .item-list{text-align:center;}

ul.pager, .region-content ul.pager{
	max-width:100%;
	width:auto;
	height: auto;
	margin-top:16px;
  margin-bottom:16px;
}

ul.pager li,
.region-content ul.pager li,
.view.first-page .pager li,
.view.last-page .pager li{
	width:auto;
}

ul.pager li a:hover, .region-content ul.pager li a:hover{
	background:#f5f5f5;
}

ul.pager li a, .region-content ul.pager li a,
ul.pager li.pager-current,
ul.pager li.pager-ellipsis,
.region-content ul.pager li.pager-current,
.region-content ul.pager li.pager-ellipsis{
	padding:8px 16px;
}

h1{
	font-size: 32px;
	color: #666;
	line-height: 1.5;

	&#page-title{
		font-size:28px;
    margin:4px 0 12px 0;
    line-height:1;
	}
}
h3{font-size: 18px; font-weight: bold; color: #666;}


// login menu block
#block-menu-menu-login-menu{
	float:right;
	position:relative;

	// to remove login link if user is logged in
	ul.menu li.first.leaf.no-submenu{display:none;}
	ul.menu li.first.last.leaf.no-submenu{display:inline-block;}
}
// main menu
#block-system-main-menu{
	nav > ul > li > ul > li > ul{
		margin-left:12px;

		a{color:#B7BD8F !important;}
	}
}

#block-system-user-menu{
	background: #000;
}


// menu
#block-block-4{
	float:left;
	display:inline-block;
	text-align:left;
}

.region-header{background:none;}

body, body.front, body.not-front{
	@media #{$not-small}{

		.region-header {
			background:url(/sites/all/themes/jjamerson_arc/images/header/banner/archives-3.jpg) no-repeat transparent;
	    background-size:cover;
	    position:relative;
	    background-color:#7b8b96;
	    z-index:15;
	    height:193px;

	    .share-holder{
		    bottom:-34px;
	    }
		}

		.region-content-top{height:auto;}

	}
	@media #{$s}{
		.region-header {
			background:#222;
	    height:60px;
		}

		.region-content-top{height:auto;}
	}
}

.region-top-nav{
	text-align:center;

	#block-weekhours-weekhours-current{
		display:inline-block;

		.weekhours-status b{text-transform:uppercase;}
	}
}

.not-front:not(.node-type-landing-page) .region-content .block:not(#block-system-main):not(.style-exempt):not(#block-berklee-site-section-announcements) .content{
	padding:0;
}

body.front {

	#page.open{
		text-align:center;

		#page-content{
			text-align:left;
			display:inline-block;
			float:none;
			margin:12px 0 0 0;

			width:98%;
		}

	}

	.region-content-top{
		margin-bottom:0;
		text-align:center;
	}

	.region-stripes{
		margin-top:1%;
	}
	.front-block{
		display:inline-block;
		vertical-align:top;
		width:26%;

		a{display:block; text-align:right; width:100%; color:#eee;}

		i{
			font-size:48px; margin-right:0; margin-left:12px; color:#eee;

			&.fa-anchor{font-size:40px;}
		}

		h3{
			text-align: left;
			font-size:125%;
			font-weight:100;
			text-transform:uppercase;
			color:#fff;
			//margin-bottom:8px;
			letter-spacing: 3px;
			//white-space: nowrap;
		}
		h3:hover{
			//color:#4c5960;
		}

		&.finding-aids{background-color:#4c5960;}
		&.institutional-repo{background-color:#4c5960;}
		&.digital-collections{background-color:#4c5960;}

		&.finding-aids,
		&.institutional-repo,
		&.digital-collections{
			//height: 98px;
			position:relative;

			a{position:absolute; bottom:0; right:0; padding: 0 12px 12px 0;}
		}

		&:hover{
			background-color:#7b8b96;
			cursor: pointer;
			/*
			-webkit-border-top-right-radius:30px;
			-webkit-border-bottom-left-radius:30px;
			-moz-border-radius-topright:30px;
			-moz-border-radius-bottomleft:30px;
			border-top-right-radius:30px;
			border-bottom-left-radius:30px;
			*/
		}
		&:active{
			background-color:#ee243c;
		}

	}
}

// Logo block
#block-block-3{

	.sub-title{
		position:absolute;
    bottom:0;
    right:0;
    display:inline-block;
    margin-bottom:0;

    a{
	    font-size:54px;
	    color:rgba(255,255,255,.85);
	    text-transform:uppercase;
	    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

			&:hover, &:active, &:visited, &:focus,
			i:hover, i:active, i:visited, i:focus{
				text-decoration:none;
				color:rgba(255,255,255,1);
			}

	  	i{
		    margin-right:6px;
		    font-size:40px;
		    vertical-align:3px;
		    font-style:normal;
			  color: rgba(255, 255, 255, 0.85);
		    text-transform: uppercase;
		    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	  	}
    }

    @media #{$s}{
			display:none;
		}
	}
}
.admin-menu #block-block-3 .sub-title{top:159px;}

// off screen sidebar
#off-screen-sidebar{
	 li{
	 		ul{
	 			display:list-item;
			}
	 }
}

.region-header > .container > #logo{display:none;}

// Menu
li {
	& > span.nolink {
    color:rgba(255,242,240,0.9);
    margin-top:1.5em;
    margin-bottom:0.5em;
    margin-left:0.5em;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    line-height:1.4em;
  }
  & > span.separator hr{
	  border:none;
    border-top:6px solid #555 !important;
  }
}
// campus tool menu
.campus-tools{
	li {
		& > span.nolink {
	    margin-top:0;
		}
	}
}

#node-1{
	font-size: 110%;
	padding: 1%;

	p.first-letter::first-letter{
		margin-top: 10px;
		margin-right: 8px;
		font-size: 300%;
		font-weight:100;
		float: left;
		//font-style: italic;
		color: #777;
	}

}

#block-block-9 > h3{text-align: left; margin: 1%;}
.region-content-bottom{text-align: center;}

#block-bcm-islandora-highlighted-asset-bcm-islandora-highlighted-asset{

	.highlighted_digital_asset{
		width: 98%;
		margin: 1%;

		.highlighted_digital_asset_header{
			margin: 1% 1% 0 1%;
		}

		&>div{
			float:none;
			text-align: left;
			display:inline-block;
			vertical-align: top;
			width: 30%;
			margin:1%;
			border:1px solid #e3e3e3;

			.highlighted_digital_asset_thumbnail_image{
				text-align: center;
				margin: 1em;

				img{
					width:100%;
					max-width: 180px;
				}
			}

		}
	}
}

ul.links.inline li{display:inline;}
#page-content{margin-bottom:2em;}

.breadcrumb-wrapper{
	margin:6px;
	font-weight: bold;
	color: #aaa;

	ul.links.inline li:not(.last) {
    border-right: none;
		padding-right:0;
	}
	ul.links.inline li:not(.last)::after {
		content: "  /";
	}
	ul.links.inline li:not(.first) {
    padding-left: 0;
	}

}

body.no-sidebars {

	.islandora-newspaper-content{
		width:100%;

		&>ul{
			li{
				list-style-type: none;
				display:inline;
			}
		}


		div.vertical-tabs{
			margin-left:0;
			border:none;

			ul.vertical-tabs-list{
				margin-left:0;

				li{
					&.first{border-top:1px; border-right:1px;}
					&.last{border-bottom:1px;}
				}
			}

			fieldset.collapsible:not(#edit-advanced){
				padding-top: 2.5em;
			}
		}
	}
}

.region-content dt, .region-content-top dt, .cke_show_borders dt, .cke_contents dt{margin-top:0;}

div.widgets-element-horizontal{display:inline-block; float:none; margin:4px 2px;}

.view a.button{display: inline-block; vertical-align: top; float: right;}

.messages.status.general{
	padding:20px; margin:12px;
	font-size: 16px;
	span{line-height: 24px; margin-left:8px;}
}

body.page-taxonomy-term{
	.term-listing-heading{
		margin-top: 24px;

		.field-item{font-size: 18px; line-height: 24px;}
	}

}

html.js input.throbbing, html.js input.form-autocomplete {
    background-position: 99% 50%;
}
html.js input.form-autocomplete {
    background-image: url(/sites/all/themes/jjamerson_arc/images/throbber-inactive.png);
    background-repeat: no-repeat;
}
html.js input.throbbing{
    background-image: url(/sites/all/themes/jjamerson_arc/images/throbber-active.gif);
}

body.page-taxonomy:not(.front) #page-content, body.page-taxonomy:not(.front) .region-sidebar-first, body.page-taxonomy:not(.front) .region-sidebar-second .block {
    padding: 15px;
    background: white;
    -moz-box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
    -webkit-box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
    box-shadow: 1px 1px 7px rgba(40, 38, 37, 0.13);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
body.page-taxonomy:not(.front) {
    background: #f6f4f5;
}
.region-sidebar-first, .region-sidebar-second {
    margin-top: 0;
}
body.page-taxonomy:not(.front) #page-content {
    padding-top: 7px;
    margin-bottom: 30px;
}
body.page-node .region-content table td > table{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;

}
body.page-node .region-content table td > table td{
	border:none;
}

.view .element-invisible{display:none;}

.more-link.edit a:first-child:after{display:none;}

.page-node-submission .webform-component-fieldset label{font-weight: bold;}

.hide-this{display:none;}

.webform-component .webform-datepicker{
	&>div{
		display:inline-block;
	}
	select{
		width: auto;
	}
}


// /research/finding-aids
a.pdficon img {
	width: 42px;
	vertical-align: text-top;
	float: right;
}
span.pop-out-icon img {
	float: none;
	margin: 0 0 0 0 !important;
	width: 30px;
	padding-left: 4px !important;
	padding-bottom: 2px !important;
	vertical-align: text-bottom;
}
div.sub_title_sh {
    font-size: 1.3em;
}
div.each_item_enclosure {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px dashed #616A7F;
}
.archive_wrapper ul{
	margin-top: 1em;
	margin-bottom: 3em;
}

/* MEDIA QUERIES FOR RESPONSIVE ***************************/
/** layout variables
$huge:'(min-width:1600px)';
$xl:'(min-width:1200px)';
$l: '(min-width:980px) and (max-width:1199px)';
$m: '(min-width:768px) and (max-width:979px)';
$s: '(max-width:767px)';
$not-small:'(min-width:768px)';
$not-large:'(max-width:979px)';
$not-xlarge:'(max-width:1199px)';
$huge-width:1600px;
$xl-width:1200px;
$l-width: 980px;
$m-width: 768px;
$s-width: 480px;

//usage
	@media #{$not-small} {}

**********************************************************/
@media #{$not-small}{

}
@media #{$s}{

	// Menu
	li {
		& > span.nolink {
	    margin-top:0;
	    margin-bottom:0;
	  }
	}
	// login menu
	#block-menu-menu-login-menu{
		float:none;

		.content a {
	    background-color: #6a6a6a;
	    border: 1px solid #3f3f3f;
	    border-left-color: #777;
	    border-radius: 5px;
	    border-right-color: #333;
	    border-top-color: #777;
	    box-shadow: 0 0 7px rgba(0,0,0,0.1);
	    color: #ddd;
	    font-size: 15px;
	    font-style: normal;
	    font-weight: normal;
	    height: 20px;
	    letter-spacing: 0.5px;
	    line-height: 20px;
	    padding: 0.3em 0.9em;
	    text-align: center;
	    text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
	    text-transform: none;
		}
		i{font-style: inherit;}
	}

	.breadcrumb{margin-top:64px;}

}

@media (min-width: 1200px) and (max-width: 1320px) {
	body.front{
		.front-block h3{
			font-size: 120% !important;
		}
	}
}
@media (min-width: 1200px) {
  .region-header #logo, .region-header #logo img {
    height: 64px;
    width: auto;
  }
}
@media (min-width: 1080px) and (max-width: 1199px) {
	body.front{
	  .front-block{
		  width: 30%;

		  h3{
		  	font-size: 110% !important;
			}
		}
	}
}
@media (min-width: 980px) and (max-width: 1079px) {
	body.front{
	  .front-block{
		  width: 30%;

		  h3{
			  font-size: 100% !important;
				white-space: normal !important;
			}
		}
	}
}
@media (min-width: 980px) and (max-width: 1199px) {
  .region-header #logo, .region-header #logo img {
    height: 64px;
    width: auto;
  }

	.front-block{
		width: 30%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
  .region-header #logo, .region-header #logo img {
    height: 64px;
    width: auto;
  }

	#block-block-3 .sub-title a {
		font-size: 36px;

	  i{font-size: 28px;}
	}

	body.front{
	  .front-block{
		  width: 31%;

		  h3{
			  font-size: 100% !important;
			  white-space: normal !important;
			  letter-spacing: 1px;
			}

			i{font-size: 30px !important;}

	  }
	}
}
@media (min-width: 768px) {
  .region-header #logo {
    margin-top: 1.6em;
  }

	body.front{
		/* front block width */
	  .front-block{
			//width:48%;
			padding:12px;
			margin:1%;

			&.finding-aids,
			&.institutional-repo,
			&.digital-collections{
				//width:25%;
			}

		}
	}
}
@media (min-width: 480px) and (max-width: 767px) {
  .region-header #logo, .region-header #logo img {
    height: 34px;
  }

  .region-header #logo {
  margin-top: 0;
  position: absolute;
  left: 0;
  width: auto;
  top: 0.8em;
	}

	body.front{
		/* front block width */
	  .front-block{
			width:98%;
			padding:12px !important;
			margin:1%;
			h3{
				font-size: 120% !important;
			}
		}
	}

}
@media (max-width: 479px){
  .region-header #logo, .region-header #logo img {
    height: 34px;
  }

  .region-header #logo {
  margin-top: 0;
  position: absolute;
  left: 0;
  width: auto;
  top: 0.8em;
	}
	body.front{
		/* front block width */
	  .front-block{
			width:98%;
			padding:12px !important;
			margin:1%;

			h3{
				font-size: 116% !important;
			}
		}
	}

	#block-bcm-islandora-highlighted-asset-bcm-islandora-highlighted-asset .highlighted_digital_asset >div{
		width: 80%;
		margin:1%;
	}
}




/* feedback_simple module CSS: ********************************
 * duplecated CSS add here to make it work on 3rd party sites
 *************************************************************/
#feedback_simple a {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: fixed;
  text-decoration: none !important;
  z-index: 9999;
}
.side-tab-feedback_simple{
	display:block;
	background-color: rgba(238, 36, 60, 0.85);
	right: -66px;
	padding: 12px 16px;
	color: #fff !important;
	letter-spacing: 1px;
	font-size: 18px !important;
	line-height: 16px !important;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.side-tab-feedback_simple:hover{
	color: #fff !important;
	background-color: rgba(238, 36, 60, 1);
	border-radius: 18px 18px 0 0;
	-moz-border-radius: 18px 18px 0 0;
	-webkit-border-radius: 18px 18px 0 0;
}
@media (max-width: 767px) {
	.side-tab-feedback_simple{
		font-size: 16px;
		padding: 8px 12px;
	}
}
/**********************************************************/